<!-- This is the parent file for all of the templates -->
{% load static %}
<!doctype html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <title>Saif's Site</title>

  </head>
  <body>
    <div>
        <img id="portraitpicture" src="{% static 'images/portrait.png' %}" alt="This is a picture of Saif Anwar." title="Saif Anwar" width="200px">
        <h1>Saif Anwar</h1>
        <h3>PhD Student</h3>
        <h3>University of Warwick, Department of Computer Science</h3>
    </div>

    <div id="mylinks">
        <a href="/portfolio/cv" target="_blank">CV</a>
        <a href="mailto:saif.anwar@warwick.ac.uk" target="_blank">saif.anwar@warwick.ac.uk</a>
        <a href="https://uk.linkedin.com/in/saif-anwar-458b14175" target="_blank">LinkedIn</a>
        <a href="https://bit.ly/3QvJB3R" target="_blank">Google Scholar</a>
    </div>
    <div id="introMessagesection">
        <p class="introMessage">Welcome to my website. It may look pretty bad right now. I have just started learning HTML and CSS.</p>
        <p class="introMessage">I have not been very good at front end development in the past so have generally avoided it </p>
        <p class="introMessage">This is my attempt to learn Web Development by making my own portfolio site.</p>

        <p class="introMessage">If you would like to leave <b>feedback</b>, you can do so <a href="/feedback/">here</a>.</p>
    </div>
    <div class="section"'>
        <h2 class="sectionHeading">Portfolio</h2>
        <div class="grid">
            <p class="gridItem">This is a grid item</p>
            <p class="gridItem">This is a grid item</p>
            <p class="gridItem">This is a grid item</p>
        </div>
    </div>
 </body>
</html>
