body {
    padding-left: 15px;
    padding-right:15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: rgb(182,34,195);
    background: linear-gradient(0deg, rgba(182,34,195,1) 0%, rgba(156,41,244,1) 96%);
    background-attachment: fixed;
    height: 100vh;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: purple;
}

.title {
    color: white;
}

h2.sectionHeading {
    text-align: center;
    margin: 30px 0 30px 0;
}

.topbar {
    width: 1000px;
    margin-bottom: 30px;
}

#portraitpicture {
    float: right;
    height: 180px;
}

#mylinks {
    margin-top: 10px;
    margin-bottom: 10px;
    width=500px
}

p {
    font-family: "Lucida Console", "Courier New", monospace;
}

#introMessagesection {
    width: 400px;
    background: rgb(182,34,195);
    background: linear-gradient(0deg, rgba(182,34,195,1) 0%, rgba(156,41,244,1) 96%);
    padding: 20px;
    margin: 20px 20px 20px 10px;
}

p.introMessage {
    font-weight: bold;
    color: white;
}

.grid {
    display: flex;
    height: 400px;
}

p.gridItem {
    width: 200px;
}

/*.loremipsum {
    background: rgb(12,34,195);
    color: white;
    padding: 20px;
}*/

.randopara {
    color: white;
}

.container {
    background: images/pxfuel.jpg;
    margin: 0 20px 0 20px;
    padding: 20px;
    width: 1000px;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    position: relative;
    overflow: hidden;
}

.container:before {
    content:"";
    position: absolute;
    background: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255,255,255,0.5);
    filter: blur(5px);
    margin: -20px;

}

